<article class="post">
  <header class="post-header home">
    <div class="post-title">Updates</div>
  </header>

  <div class="post-content">
    {%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li class="post-list-item">
      <!-- {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} -->
      {%- assign date_format = "%Y/%m/%d" -%}
      <span class="post-date">{{ post.date | date: date_format }}</span>
      <a class="post-link" href="{{ site.baseurl }}/{{ post.url | relative_url }}">
        {{ post.title | escape }} [{{ post.category }}]
  </a>
      {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
  </div>

  </article>
  <script type="text/javascript"
  src="http://crowd4u.org/script/task_loader.js?requester=1071&length=10">
 </script>
 <a class="microtask repeat" href="//crowd4u.org">
  <img src="http://crowd4u.org/img/crowd4u_banner364x93.png">
 </a>

  
  <div class="profile">
    <h3>Contact</h3>
    <p>
      筑波大学 大学院 人間総合科学研究群・研究科 情報学学位プログラム<br>
      融合知能デザイン研究室<br>
      根岸 寛太(Negishi Kanta)<br>
      e-mail: kanta.negishi.2021b [at] mlab.info
  </p>
  <br><br>
  </div>
  
  </div>






